<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen Manager</title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>
  <body>
    <div class ="sidebar">
      <div class = "header">
      <h1>Kitchen Manager</h1>
      <small>Admin Board</small>
    </div>
      <div class = "nav">
      <a class="sideItem" href = "/admin/<%= settings.username %>"> Home </a>
      <a class="sideItem" href = "/admin/menu/all/<%= settings.username %>"> Menu</a>
      <a class="sideItem" href = "/waiter/<%= settings.username %>"> Settings</a>


      </div>
    </div>

    <div class = "employeeAdmin">
      <div class = "employee">
        <h3>New<h3>
          <form class="formEmployee" action ='/admin/newEmployee/<%= settings.username %>' method ='post' >
            <input type="text" name="name" placeholder="name">
            <input type="text" name="username" placeholder="username">
            <select name="role">
              <option value="waiter">Waiter</option>
              <option value="kitchen">Kitchen</option>
              <option value="both">Both</option>
              <option value="manager">Manager</option>
            </select>
            <input type="text" name="contact" placeholder="contact">
            <input class="btnemployee" type="submit" value="Send">
          </form>
      </div>
      <% if (user) { %>
        <div class="employee">
          <h3>Update<h3>
          <form class="formEmployee" action ='/admin/updateEmployee/<%= settings.username %>' method ='post' >
            <input type="text" name="username" value = "<%= user.username %>">
            <input type="text" name="name" value = "<%= user.name %>">
            <select name="role">
              <option value="<%= user.role %>"><%= user.role %></option>
              <option value="waiter">Waiter</option>
              <option value="kitchen">Kitchen</option>
              <option value="both">Both</option>
              <option value="manager">Manager</option>
            </select>
            <input type="text" name="contact" value = "<%= user.contact %>">
            <input class="btnemployee" type="submit" value="Update">
          </form>
        </div>
      <% } %>
      <div class = "employee">
        <h3>Look for<h3>
          <form class="formEmployee" action ='/admin/searchEmployee/<%= settings.username %>' method ='post' >
            <input type="text" name="username" placeholder="username">
            <input  type="hidden" >
            <input class="btnemployee" type="submit" value="Search">
          </form>
      </div>


      <% if (error) { %>
        <div class="employee">
          <h2><%= error %></h2>
        </div>
      <% } %>
    </div>
  </body>
  <style>
    body{
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns:1fr 4fr;
      height: 100%;
      width:100vh;
      align-items: start;
      justify-items: start
    }
    .formEmployee{
      align-self: start;
      display: grid;
      justify-items: stretch;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(2em, 1fr);
      grid-gap: 1em
    }
    .sidebar{
      align-items: start;
      justify-items: center
    }
    .employee{
      padding: 0.6em
    }
    input,select{
      height: : 3em;
      grid-column: 1 / 3
    }
    .btnemployee{
      height: 3em;
      align-self: end;
      grid-column: 1 / 3
    }

    .employeeAdmin{
      width: 100%;
      height: 100%;
      grid-gap: 0.5em;
      grid-template-columns: repeat( auto-fit, minmax(25%, 1fr));
      grid-auto-rows: minmax(180px, 1fr);
      display: grid
    }
    @media screen and (max-width: 800px){
      body{
        grid-template-columns:1fr;
        grid-template-rows:1fr 4fr;
        background-color: red
      }
      .employeeAdmin{
        width: 100%;
        height: 100%;
        grid-gap: 0.5em;
        grid-template-columns: 1fr;
        display: grid
      }
    }
  </style>
</html>
