  <!DOCTYPE html>
  <html>
    <head>
      <title>Kitchen Manager</title>
      <link rel='stylesheet' href='/stylesheets/checkManagement.css' />
      <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
      <link rel='stylesheet' href='/stylesheets/sidebar.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">

    </head>
    <body>
      <%- include('sidebar'); %>

      <div class = "checkControl ">
        <div class="total ">
          <a class="fa fa-arrow-left" href = "/waiter/<%= settings.username %>"></a>
          <div class="infoCheck">
          <h2 style ="color:#FEB404;"> <%= check.tableIdentification %> </h2>
          <small> Total: <i style ="color:#FEB404;" ><%= check.total %>.00</i> </small>
          </div>
          <a class="fa fa-cutlery" href ="/waiter/addItem/<%= check.id %>/first/all"></a>

          <a class="fa fa-money" href ="/waiter/closeCheck/<%= check.id %>/<%= settings.username %>"></a>

        </div>

        <div class = "checkDetails">
          <% if (check.openOrders !== []) { %>
            <% check.openOrders.forEach(function(order){ %>
            <div class="order animated fadeIn">
              <h3> <%= order.item.name %></h3>
              <p> <%= order.item.description %> </p>
              <p> <%= order.item.price %></p>
              <p> <%= order.status %></p>
              <% if (order.status==="done") { %>
                <a class="fa fa-check animated pulse" href ="/waiter/deliverOrder/<%= check.id %>/<%= order.id %>"></a>
              <% } %>
            </div>
          <% }) %>
          <% } %>
          <% if (check.orders !== []) { %>
            <h3> Closed Orders </h3>
            <% check.orders.forEach(function(order){ %>
              <div class="order animated fadeIn">
                <h3> <%= order.item.name %></h3>
                <p> <%= order.item.description %> </p>
                <p> <%= order.item.price %></p>
                </div>
          <% }) %>
          <% } %>


        </div>
      </div>

    </body>

  </html>
