<!DOCTYPE html>
<html>
<head>
  <title>Kitchen Manager</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1 >Kitchen Manager</h1>
  <%- include('login', {error: error}); %>
</body>
<script>
if ('serviceWorker' in navigator) {
  console.log('CLIENT: service worker registration in progress.');
  navigator.serviceWorker
  .register('/serviceworker.js')
  .then(function() {
    console.log('CLIENT: service worker registration complete.');
  }, function() {
    console.log('CLIENT: service worker registration failure.');
  });
} else {
  console.log('CLIENT: service worker is not supported.');
}
</script>
<style>
body{
  display: grid;
  align-items: center;
  justify-items: center
}
.formLogin{
  align-self: start;
  width: 50%;
  height: 20%;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 4fr 4fr;
  grid-gap: 1em
}
.lblLogin{
  align-self: end
}
.btnLogin{
  width: 70%;
  height: 100%;
  align-self: center;
  justify-self:center;

}

</style>
</html>
