<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen Manager</title>
    <link rel='stylesheet' href='/stylesheets/kitchen.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  </head>
  <body>
    <%- include('sidebar', {error: error}); %>

    <% if (orders) { %>
      <div class="orders">

      <% orders.forEach(function(order){ %>
      <% order.forEach(function(orderLoop){ %>
            <div class="order">
              <h3><%= orderLoop.item.name %></h3>
              <p> <%= orderLoop.item.description %></p>

              <% if (orderLoop.status==="ordered") { %>
              <a class ="buttonPrepare" href="/kitchen/changeOrderStatus/<%= orderLoop.checkId %>/<%= orderLoop.id %>/<%= settings.username %>">Prepare</a>
              <% }else{ %>
                <a class ="buttonDone animated fadeIn" href="/kitchen/changeOrderStatus/<%= orderLoop.checkId %>/<%= orderLoop.id %>/<%= settings.username%>">Done</a>

                <% } %>

            </div>
          <% }) %>
          <% }) %>

      </div>
    <% } %>



  </body>
  <script id="main" userName="<%= settings.username %>" >
    var script =document.getElementById("main")

    let username = script.getAttribute('userName');
    var obj = { Title: "Kitchen", Url: "/kitchen/"+username };
    history.pushState(obj, obj.Title, obj.Url);
    console.log(username)
  window.setInterval(function(){
    window.location.reload(false);

  }, 5000);
  </script>

</html>
