<% if (error) { %>
    <h2><%= error %></h2>
<% } %>
<form class="formLogin" action ='/login' method ='post' >
   <p class="lblLogin">Username</p>
  <input type="text" name="username">
  <p class="lblLogin" >Password:</p>
  <input type="password" name="password">
  <input class="btnLogin" type="submit" value="Submit">
</form>
