<!DOCTYPE html>
<html>
<head>
  <title>Kitchen Manager</title>
  <link rel='stylesheet' href='/stylesheets/menu.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/sidebar.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>
<body>
  <div class ="sidebar">
    <div class = "header">
    <h1>Kitchen Manager</h1>
    <small>Admin Board</small>
  </div>
    <div class = "nav">
      <a class="sideItem" href = "/admin/<%= settings.username %>"> Home </a>
      <a class="sideItem" href = "/admin/menu/all/<%= settings.username %>"> Menu</a>
      <a class="sideItem" href = "/waiter/<%= settings.username %>"> Settings</a>

    </div>
  </div>
  <div class = "newItem">
    <form class="formNewMenuItem" action ='/admin/newMenuItem/<%= settings.username %>' method ='post' >
      <h2 class="lblNewMenuItem">New Item</h2>
      <select name="itemSession">
        <option value="beverages">Beverages</option>
        <option value="appetizers">Appettizer</option>
        <option value="mainCourses">Main Course</option>
        <option value="diserts">Disert</option>
      </select>
      <input class="itemName" type="text" name="itemName" placeholder = "Name">
      <input class="itemDescription" type="text" name="itemDescription" placeholder = "description">
      <input class="itemPrice" type="number" name="itemPrice" placeholder = "$$">
      <input class="newItem" type="submit" value="New">
    </form>
  </div>
  <div class="menu">
    <div class = "menuNav">
        <a class = "all" href ="/admin/menu/all/<%= settings.username %>" >All</a>
        <a class = "beverages" href ="/admin/menu/beverages/<%= settings.username %>">Beverages</a>
        <a class = "appetizers" href ="/admin/menu/appetizers/<%= settings.username %>">Appetizers</a>
        <a class = "mainCourse" href ="/admin/menu/mainCourses/<%= settings.username %>">Main Courses</a>
        <a class = "disert" href ="/admin/menu/disert/<%= settings.username %>">Disert</a>


    </div>
    <% menu.forEach(function(item){ %>
      <div class="itemMenu ">
        <h3> <%= item.name %></h3>
        <small> price:<%= item.price %></small>

        <p> <%= item.description %></p>

      </div>
      <% }) %>
    </div>



  </body>

  </html>
