  <!DOCTYPE html>
  <html>
    <head>
      <title>Kitchen Manager</title>
      <link rel='stylesheet' href='/stylesheets/menu.css' />
      <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel='stylesheet' href='/stylesheets/sidebar.css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    </head>
    <body>
      <%- include sidebar.ejs %>

      <div class = "orders">
      <% if (check.openOrders !== []) { %>
        <% check.openOrders.slice(Math.max(check.openOrders.length - 5, 0)).reverse().forEach(function(order){ %>
        <div class="order animated fadeInLeft">
          <h4> <%= order.item.name %></h4>
        </div>
      <% }) %>
      <% } %>
    </div>
      <div class="menu">
        <div class = "menuNav">
          <a class = "all" href ="/waiter/addItem/<%= check.id %>/first/all" >All</a>
          <a class = "beverages" href ="/waiter/addItem/<%= check.id %>/first/beverages">Beverages</a>
          <a class = "appetizers" href ="/waiter/addItem/<%= check.id %>/first/appetizers">Appetizers</a>
          <a class = "mainCourse" href ="/waiter/addItem/<%= check.id %>/first/mainCourses">Main Courses</a>
          <a class = "disert" href ="/waiter/addItem/<%= check.id %>/first/diserts">Diserts</a>

        </div>
        <% menu.forEach(function(item){ %>
          <div class="itemMenu ">
          <h3> <%= item.name %></h3>
          <small> price:<%= item.price %></small>

          <p> <%= item.description %></p>
          <a class = "add" href = '/waiter/addItem/<%= check.id %>/<%= item.name %>/<%=menuSession%>'> Add </a>

        </div>
        <% }) %>
      </div>



    </body>

  </html>
