<div class ="sidebar">
  <div class = "header">
  <h1>Kitchen Manager</h1>
  <small>Waiter Board</small>
</div>
  <div class = "nav">
    <% if (settings.role ==="waiter") { %>
      <a class="sideItem" href = "/waiter/<%= settings.username %>"> Home</a>
      <a class="sideItem" href = "/waiter/<%= settings.username %>"> Settings</a>
      <% } else if(settings.role ==="kitchen") { %>
        <a class="sideItem" href = "/kitchen/<%= settings.username %>"> Home </a>
        <a class="sideItem" href = "/waiter/<%= settings.username %>"> Settings</a>

      <% } else  if(settings.role ==="both") { %>
        <a class="sideItem" href = "/waiter/<%= settings.username %>"> Waiter</a>
        <a class="sideItem" href = "/kitchen/<%= settings.username %>"> Kitchen </a>
        <a class="sideItem" href = "/waiter/<%= settings.username %>"> Settings</a>
      <% }  %>


  </div>
</div>
