<!DOCTYPE html>
<html>
<head>
  <title>Kitchen Manager</title>
  <link rel='stylesheet' href='/stylesheets/waiter.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/sidebar.css' />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>
<script>
navigator.serviceWorker.register('sw.js');
Notification.requestPermission(function(result) {
  if (result === 'granted') {
    navigator.serviceWorker.ready.then(function(registration) {
      registration.showNotification('Notification with ServiceWorker');
    });
  }
});
function focusOnTab () {
  window.focus()
  this.cancel()
}

function notifyMe(message) {
  // Let's check if the browser supports notifications
  if (!("Notification" in window)) {
    alert("This browser does not support desktop notification");
  }

  // Let's check whether notification permissions have already been granted
  else if (Notification.permission === "granted") {
    // If it's okay let's create a notification
    var notification = new Notification(message);
    notification.onclick = focusOnTab

  }

  // Otherwise, we need to ask the user for permission
  else if (Notification.permission !== 'denied') {
    Notification.requestPermission(function (permission) {
      // If the user accepts, let's create a notification
      if (permission === "granted") {
        var notification = new Notification(message);
        notification.onclick = focusOnTab

      }
    });
  }

  // At last, if the user has denied notifications, and you
  // want to be respectful there is no need to bother them any more.
}

window.setInterval(function(){
  console.log("5 segundos")
  window.location.reload(false);

}, 15000);
</script>
<body>

  <%- include('sidebar', {error: error}); %>
  <div class = "newCheck">
    <form class="formNewCheck" action ='/waiter/newCheck' method ='post' >
      <h2 class="lblNewCheck">New Check</h2>
      <input class="tableIdentification" required="true" type="text" name="table" placeholder = "Table Identification">
      <input type="hidden" name="waiter" value ="<%= settings.username %>" >
      <input class="btnLogin create" type="submit" value="create">
    </form>
  </div>
  <div class ="checkManagement">
    <% if (checks) { %>
      <% checks.forEach(function(check){ %>

        <div class="check animated fadeIn">
          <div class = "checkHeader">
            <h3 style="text-align:center"><%= check.tableIdentification %></h3>
          </div>
          <div class = "warning">
            <% if (check.openOrders) { %>
              <% check.openOrders.forEach(function(order){ %>
                <% if (order.status==="done"){

                  %>
                  <script >
                  notifyMe("New order", "is ready to be picked up")
                  </script>
                  <a class = "fa fa-bell">
                  </a>
                  <% } %>
                  <% }) %>
                  <% } %>
                </div>
                <div class="checkActions">
                  <a class="more" href="/waiter/editCheck/<%= check.id %>/<%= settings.username %>">Details</a>
                  <a class="more" href ="/waiter/addItem/<%= check.id %>/first/all">Order</a>
                </div>
              </div>

              <% }) %>
              <% } %>

            </div>
          </body>


          <style>


          </style>
          </html>
