  body{
    display: grid;
    align-items: start;
    justify-items: center;
    height: 100vh;
    grid-gap: 2em;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 2fr 3fr;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #eeeeee;


  }
  .sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3

  }
  .infoCheck{
    display: grid;
    grid-template-rows: 3fr 1fr;
  }
  .total{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr ;
    align-items: center;
    font-size: 2em;
    justify-items:center;
    color:white;
    background-color: #63606B;
    width: 100%;
    text-align: center;
  }

  .fa-cutlery,.fa-times,.fa-money,.fa-arrow-left{
    justify-self:end;
    text-decoration: none;
    padding: 0.5em;
    border-radius :  100%;
    color:#eeeeee;
    transition:  color 1s;
    justify-self: center;
    border: solid 1px #DFF8EB;
  }

  .fa-check{
    justify-self:end;
    text-decoration: none;
    padding: 0.3em;
    border-radius :  100%;
    background-color: #DA371F;
    color:#FEB404;
    transition:  color 1s ;
    margin: 0.5em;
  }
  .fa-arrow-left:hover{
    justify-self:end;
    text-decoration: none;
    border-radius :  100%;
    background-color: #FEB404;
    justify-self: center

  }
  .fa-cutlery:hover{
    justify-self:end;
    text-decoration: none;
    padding: 0.5em;
    border-radius :  100%;
    background-color: #FEB404;
    justify-self: center


  }
  .fa-money:hover{
    justify-self:end;
    text-decoration: none;
    padding: 0.5em;
    border-radius :  100%;
    background-color: #FEB404;
    justify-self: center

  }

  .checkControl{
    display: grid;
    grid-template-rows: 10% 90%;
    justify-items: stretch;
    border:solid 2px #63606B;
    text-align: center;
    width: 70%;
    justify-self:center;
    background-color: white
  }

  .checkDetails{
    display: grid;
    justify-items:stretch;
  }
  .close{
    padding: 0.3em;
    text-decoration: none;
    font-size: 0.8em;
    color: #FEB404;
    background-color: #DFF8EB
  }

  .order{
    display: grid;
    justify-items:stretch ;
    align-items: center;
    grid-template-columns: 2fr 3fr 2fr 2fr 1fr
  }

  .menu{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20%, 1fr));
    grid-auto-rows: 10em;
    width: 100%
  }

  @media screen and (max-width: 800px){
    body{
      grid-template-columns:1fr;
      grid-template-rows: 30% 70%;
      justify-items: center;
      grid-gap: 2.5em;
      display: grid;

    }
    .checkControl{
      width: 98%;
      justify-self:center;
      align-self:start;

    }
    .sidebar{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .fa-cutlery,.fa-times,.fa-money,.fa-arrow-left{
      padding: 0.2em;

    }

  }
