body{
  display: grid;
  align-items: start;
  justify-items: center;
  height: 100vh;
  grid-template-columns: 20% 80%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
  grid-gap: 1em;
}

.buttonPrepare,.buttonDone{
  display: grid;
  padding: 0.5em;
  text-decoration: none;
  color: white;
  border: solid 2px black;
  text-align:center;
  width: 80%
}

.buttonPrepare{
  background-color:#63606B;
}
.buttonDone{
  background-color: #FEB404;
  color:black;

}
.orders{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(30%, 1fr));
  grid-auto-rows: 15em;
  height: 100%;
  width: 100%;
  grid-gap: 2em;
}
.menu>h1{
  grid-column: 1 / 3;
  height: : 10%
}

.order{
  padding: 1em;
  display: grid;
  align-items: start;
  align-self: start;
  grid-template-rows: 1fr 2fr 1fr;
  background-color:white;

  p{
    padding:0.5em;
  };
  background-color:white;


}


@media screen and (max-width: 800px){
  body{
    grid-template-columns:1fr;
    justify-items: center;

  }
  .orders{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(45%, 1fr));
    grid-auto-rows: 8em
    height: 100%;
    width: 100%
  }

}
