  body{
    display: grid;
    align-items: start;
    justify-items: center;
    height: 100vh;
    grid-gap:1em;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 1fr 5fr;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #eeeeee

  }
  .sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

  }
  .menuNav{
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    border: solid 2px #63606B;
    text-align: center;
    align-items: center;
    width: 90%;
    padding:0.5em;
    background-color: white;
  }
  .all,.appetizers,.disert{
      background-color: #DA371F;
      color:white;
    }
  .beverages,.mainCourse{
    background-color: #FEB404;
    color:black;

  }
  .all,.appetizers,.disert,.beverages,.mainCourse{
    padding:0.5em;
    text-decoration: none;
    border:solid 2px black;
  }
  .itemMenu{
    background-color: white;
    padding: 0.8em;
    border: solid 2px #63606B;
  }
  .add{
    background-color: #63606B;
    color: white;
    text-decoration: none;
    padding:0.5em;
    border: solid 1px black;
  }
  .orders{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(10%, 1fr));
    grid-auto-rows: 1em;
    width: 90%;
    background-color: #63606B;
    color: white;
    text-align: center;
    justify-self:center;
    align-self: center;
    padding: 1em;
    align-items: center;
  }

  .headerCheck{
    display: grid;
    grid-template-rows: 1fr 1fr
  }
  .total{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 2em;
    justify-items:center;
    color:white;
    background-color: Skyblue;
  }

  .close{
    padding: 0.3em;
    background-color: white;
    text-decoration: none;
    font-size: 0.8em;
    color:black;
    border: solid 1px black
  }
  .order{
    display: grid;
    justify-items:stretch ;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr
  }

  .menu{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20%, 1fr));
    grid-auto-rows: 15em;
    width: 90%;
    justify-self:center;
    align-self: start;
    grid-gap: 0.5em;
  }

  @media screen and (max-width: 800px){
    body{
      grid-template-columns:1fr;
      grid-template-rows: 30% 10% 50%;
      justify-items: center;


    }
    .checkControl{
      width: 95%;
      justify-self:center;
    }

    .menu{
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(45%, 1fr));
      grid-auto-rows: 15em;
      width: 100%;
      justify-self:center;
      align-self: start;
      justify-items: center;
      grid-gap: 1em
    }
    .itemMenu{
      background-color: white;
      padding: 0.5em;
      width: 85%
    }
    .menuNav{
      width: 85%;
    }




  }
