.sideItem{
  padding-left: 0.3em;
  text-decoration: none;
  font-size: 2em;
  border-left:solid 0.7em #DA371F;
  color: black;
  background-color: white;
  transition: border 1s;
}

.sideItem:hover{
  border-left:solid 0.9em  #FEB404;
}
.sidebar{
  display: grid;
  grid-row: 1 / 3;
  align-self:start;
  grid-template-rows: 1fr 3fr;
  background-color: #63606B;
  width: fit-content;
  padding:1em;
  color:white;
  height: 100%;
}
.nav{
  display: grid;
  grid-auto-rows:min-content;
  grid-gap: 0.5em;
  align-self:start;
  margin-top: 1em;

}
.header{
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: fit-content;
}

@media screen and (max-width: 800px){
  .sidebar{
    display: grid;
    grid-row: 1 / 2;
    align-self:start;
    grid-template-columns: 1fr 2fr;
    width: 95%;
    grid-gap: 0.5em;
    grid-template-rows: 1fr;
    height: fit-content;

  }

  .nav{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(45%, 1fr));
    grid-gap: 1em;
    width: 100%;

  }
  .sideItem{
    padding-left: 0.3em;
    text-decoration: none;
    font-size: 2em;
    border-left:solid 0.7em #DA371F;
    color: black;
    background-color: white;
    width: 90%;
    font-size: 1.5em;
    padding: 0.2em;

  }
}
