body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

body{
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
  grid-gap : 2em;
  background-color: #eeeeee

}
.tableIdentification{
  width: 80%;
  padding: 0.4em;
}

.sidebar{
  display: grid;
  grid-row: 1 / 3;

}
.more{
  text-decoration: none;
  display: grid;
  padding: 0.5em;
  color:black;
  background-color: #FEB404;
  text-align:center;
  width: 70%;
  justify-self:center;
  align-self: center;
  border: solid 2px black;
  transition: background-color 0.5s;
}

.more:hover{
  background-color: #feb4046b
}
.orderB{
  text-decoration: none;
  display: grid;
  padding: 0.8em;
  color:black;
  background-color: #DA371F;
  text-align:center;
  width: 90%;
  justify-self:center;
  align-self: center;
}
.create{
  margin: 0.5em;
  text-decoration: none;
  display: grid;
  padding: 1em;
  color:black;
  background-color: #FEB404;
  text-align:center;
  width: min-content;
  border-radius: 100%;
  justify-self:center;
  font-size: 1em;
  transition: background-color 1s, color 1s;
}

.create:hover{
  background-color: #DA371F;
  color: white;

}
.checkManagement{
  display: grid;
  width: 100%;
  height:100%;
  grid-template-columns: repeat( auto-fit, minmax(45%, 1fr));
  grid-auto-rows: 10em;
  align-items: start;
  grid-gap: 2em;
  justify-items:center;
  grid-column: 2 / 3
}


.newCheck{
  display: grid;
  align-items: center;
  justify-items:center;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1em;
}
.formNewCheck{
  display: grid;
  align-self: start;
  align-items: center;
  justify-items:center;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr 1fr ;
  width: 80%;
  height: 50%

}
.formNewCheck>h2{
  text-align: center;
  align-self:end
}

.check{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr
  background-color: #A6C2E0;
  background-color: white

}

.checkActions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  grid-column: 1 / 3 ;
}

.warning{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(25%, 1fr));
  width: 70%;
  align-self: center
}
.warning>.fa{
  color:#DA371F
}


@media screen and (max-width: 850px){
  body{
    grid-template-columns:1fr;
    justify-items: center;
    grid-template-rows: 30% 20% 40%;
    grid-gap : 3em
  }
  .check{
    width: 100%
  }

  .sidebar{
    grid-row: 1 / 2;


  }
  .checkManagement{
    display: grid;
    width: 100%;
    height:100%;
    grid-template-columns: repeat( auto-fit, minmax(45%, 1fr));
    grid-auto-rows: 8em;
    align-items: start;
    grid-gap: 2em;
    justify-items:center;
    grid-column: 1 / 2
  }
  .formNewCheck{
    display: grid;
    align-self: start;
    align-items: center;
    justify-items:center;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr  ;
    width: 80%;
    height: 50%

  }
  .formNewCheck>.create{
    grid-column: 1 / 3
  }


}
